/* navbar */
#navbar{
    flex-direction: column ;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
    padding-bottom:10px;
}

/* home section */
#Home{
    height: 393px;
    padding: 1rem  1.5rem;
}

#Home::before{
    height: 500px;
}

#Home p{
    font-size: .9rem;
}
/* project section */
#Projects{
    flex-direction: column;
    text-align: center;
}

#Projects .box{
    padding: 20px 30%;
    margin: 12px -5%;
    width: 50%;
    text-align: center;
}

#Projects .box h3 {
    font-size: 1.1rem;
    margin: 1.0rem -3rem;
    text-align: center;
}

#Projects .box p{
    margin: 0 -3.5rem;
    padding: -110;
    
}
.demo-video{
    display: block;
    text-align:left;
}

/* Certifications */
#certification{
    padding:50px 0 0 0;
}
#certifications{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#certifications .box{
    width: 90vw !important;
    margin:10px 0;
}

/* about section  EDUCATION*/
#about-me{
flex-wrap: wrap;
}
#about-me-section::before{
    height: 530px;
}
.about-me-box{
    padding: 13px 15px;    
}

#about-me img{
    height: 60px;
    
    }
    
/* contact section */

#about-me-section{
    position: relative;
    height: 430px;
    color:white;
}


/* utility classes */

.h-primary{
    font-size: 1.1rem;
}

.btn{
    font-size: 1rem;
    padding: 10px;
}